<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <title id="title-entry">Вход</title>
  <script src="https://unpkg.com/i18next/i18next.min.js"></script>
  <script src="https://unpkg.com/i18next-browser-languagedetector/i18nextBrowserLanguageDetector.min.js"></script>
  <script src="/a/script/languageChangeLogin.js"></script>
  <link rel="icon" href="/a/image/8172.png" type="image/x-icon">
  <link href="/a/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="language-toggle" onclick="toggleLanguage()">Ru / En</div>
<form id="loginForm" class="entryForm" >
  <div class="entryDiv">
    <input type="text" name="username" placeholder="Логин" id="usernameLogin" required>
    <input type="password" name="password" placeholder="Пароль" id="passwordLogin" required>
    <button type="submit" id="submitButton">Войти</button>
  </div>
</form>
<a id="registrationHref" href="/register">Регистрация</a>

<script>
  document.getElementById('loginForm').addEventListener('submit', function(event) {
    event.preventDefault();

    const username = document.getElementById('usernameLogin').value;
    const password = document.getElementById('passwordLogin').value;

    const loginData = {
      username: username,
      password: password
    };

    fetch('/login', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify(loginData)
    })
            .then(response => {
              if (response.ok) {

                window.location.href = '/main-form';
              } else {
                throw new Error('Ошибка входа');
              }
            })
            .catch(error => {
              console.error('Ошибка:', error);
            });
  });
</script>
</body>
</html>
